@import url('https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700');

html {
    background-color: #C27AE1;
  }

  body {
    Font-Family: 'Cabin', Sans-Serif;
    Font-Size: 16px;
  }

  a {
    color: black;
  }

  #logo {
    Font-Family: 'Roboto Condensed', Sans-Serif;
    Font-Size: 35px;
    color: #FDB927;
    
  }